div {
  margin: 5px;
}
input,
select,
table {
  margin: 3px;
}

table {
  border: 1px;
}

.button {
  overflow: visible;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
  background-color: ghostwhite;
}
